.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 100%;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/*======  general ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-title);
}

img {
  display: block;
}

/*======  general ===== */
/*======  modal-window ===== */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.active::after {
  content: " ";
  display: block;
  border-top: 4px solid var(--hover);
  border-radius: 2px;
  top: 28px;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 16px;
}

/*======  modal-window ===== */
:root {
  --background: #FFFFFF;
  --overlay-background: #F5F4FA;
  --text-title: #212121;
  --text: #757575;
  --hover: #2196F3;
  --footer-color: #2F303A;
}

body {
  font-family: "Roboto", "Relaway", sans-serif;
  font-style: normal;
  background: var(--background);
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  width: 100%;
}

.page-header__menu {
  display: flex;
  align-items: center;
  height: 80px;
  background: var(--background);
  position: relative;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .page-header__menu {
    display: flex;
    align-items: center;
    height: 60px;
    background: var(--background);
    position: relative;
  }
}
.page-header .container {
  position: relative;
  align-items: center;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  text-align: center;
  align-items: center;
}

.page-footer-item__webstudio-down {
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.1742;
  color: var(--background);
  cursor: pointer;
  font-size: 24px;
}

.page-header__webstudio-up {
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.19;
  margin-right: 93px;
  cursor: pointer;
  font-size: 24px;
}

@media screen and (min-width: 1200px) {
  .page-header__webstudio-up {
    font-size: 26px;
  }
  .page-footer-item__webstudio-down {
    font-size: 26px;
  }
}
.main-title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-picture-mobile.jpg");
  background-repeat: no-repeat;
  width: auto;
  height: 400px;
  margin: 0 auto;
  background-size: cover;
}
.main-title__page {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  color: var(--background);
  max-width: 365px;
}
.main-title__button {
  display: block;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  margin: 30px auto 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--background);
  background: var(--hover);
  border: none;
  cursor: pointer;
  font-family: inherit;
}

@media (min-width: 320px) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-picture-mobile.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-picture-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-picture-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-picture-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .main-title {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: var(--footer-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
  }
  .main-title__page {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: var(--background);
    max-width: 600px;
  }
  .main-title__button {
    display: block;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 41px 10px 42px;
    margin: 30px auto 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    color: var(--background);
    background: var(--hover);
    border: none;
    cursor: pointer;
    font-family: inherit;
  }
}
.advantages .container {
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
}
.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}
.advantages__tittle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 450px;
}
.advantages__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  max-width: 450px;
  padding-left: 15px;
}
.advantages__img {
  display: flex;
  max-width: 450px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--overlay-background);
  margin-bottom: 30px;
}
.advantages__icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .advantages .container {
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 45px;
    padding-left: 15px;
  }
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantages__item {
    margin-left: 30px;
    margin-top: 30px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .advantages__tittle {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    max-width: 354px;
  }
  .advantages__text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 354px;
    padding-left: 0px;
  }
  .advantages__img {
    display: flex;
    max-width: 354px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #F5F4FA;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages .container {
    padding-top: 94px;
    padding-bottom: 0;
  }
  .advantages__list {
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }
  .advantages__item {
    margin-left: 0;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .advantages__tittle {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    max-width: 270px;
  }
  .advantages__text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 270px;
  }
  .advantages__img {
    display: flex;
    max-width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  }
}
.subsection-offer__list {
  display: flex;
  text-align: center;
}
.subsection-offer__item {
  position: relative;
}
.subsection-offer__item:not(:last-child) {
  margin-right: 30px;
}
.subsection-offer__layout {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  color: var(--background);
  font-size: 14px;
  line-height: 1.172;
  padding-top: 27px;
}

@media (max-width: 1200px) {
  .section-hidden-offer {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .work-team {
    background: var(--overlay-background);
  }
  .work-team__list {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .work-team__members:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .work-team__images {
    background: var(--background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    object-fit: cover;
    height: 100%;
  }
  .work-team__description-name {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-title);
  }
  .work-team__description-occupation {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
  }
  .work-team__images-members {
    display: flex;
    width: 100%;
  }
  .social-links {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .work-team {
    background: var(--overlay-background);
  }
  .work-team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .work-team__images {
    background: var(--background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    object-fit: contain;
  }
  .work-team__description-name {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-title);
  }
  .work-team__description-occupation {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
  }
  .work-team__images-members {
    display: flex;
    width: 100%;
  }
  .social-links {
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .work-team {
    background: var(--overlay-background);
  }
  .work-team__list {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .work-team__members:not(:last-of-type) {
    margin-right: 30px;
  }
  .work-team__images {
    background: var(--background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 100%;
  }
  .work-team__description-name {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-title);
  }
  .work-team__description-occupation {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
  }
  .work-team__images-members {
    display: flex;
    width: 100%;
  }
  .social-links {
    padding-bottom: 30px;
  }
}
@media (min-width: 320px) {
  .customers-subsection__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .customers-subsection__item {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 92px;
    max-width: 210px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  .customers-subsection__item:hover {
    background-color: var(--background);
    border: 1px solid var(--hover);
  }
  .customers-subsection__item:hover svg {
    fill: var(--hover);
  }
  .customers-subsection__link {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 16px 32px;
    display: flex;
    fill: #AFB1B8;
  }
  .customers-subsection__icons {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    max-width: 150px;
  }
}
@media (min-width: 1200px) {
  .customers-subsection__list {
    display: flex;
    justify-content: space-between;
    justify-content: center;
  }
  .customers-subsection__item {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 92px;
    max-width: 170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  .customers-subsection__item:hover {
    background-color: var(--background);
    border: 1px solid var(--hover);
  }
  .customers-subsection__item:hover svg {
    fill: var(--hover);
  }
  .customers-subsection__link {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 16px 32px;
    width: 100%;
    display: flex;
    fill: #AFB1B8;
  }
  .customers-subsection__icons {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .footer {
    align-items: center;
    justify-content: center;
    background-color: var(--footer-color);
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--background);
    font-family: inherit;
    padding: 60px 0;
    margin-bottom: 0;
  }
  .page-footer {
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .page-footer-item {
    justify-content: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .footer {
    align-items: center;
    justify-content: center;
    background-color: var(--footer-color);
    min-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--background);
    font-family: inherit;
    padding: 60px 0;
    margin-bottom: 0;
  }
  .page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .page-footer-item {
    justify-content: flex-start;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .footer {
    display: block;
    background-color: var(--footer-color);
    min-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--background);
    font-family: inherit;
    padding: 60px 0;
  }
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
  .page-footer-item {
    justify-content: flex-start;
  }
}
@media (min-width: 320px) {
  .address {
    font: inherit;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .address-footer__address,
.address-footer__email {
    margin-bottom: 9px;
  }
  .address-footer__email-link,
.address-footer__telephone-link {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
  }
}
@media (min-width: 1200px) {
  .address {
    font: inherit;
    margin-top: 20px;
    justify-content: start;
    text-align: start;
    align-items: start;
  }
  .address-footer__address,
.address-footer__email {
    margin-bottom: 9px;
  }
  .address-footer__email-link,
.address-footer__telephone-link {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-footer__email-link:hover,
.address-footer__telephone-link:hover {
    color: var(--hover);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .join-us {
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-top: 60px;
  }
  .join-us__title {
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
  }
  .join-us .social-links__icons--fill {
    fill: var(--background);
  }
  .join-us .social-links__link--color {
    fill: var(--background);
    background-color: rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 768px) {
  .join-us {
    justify-content: flex-start;
    margin-left: 144px;
    margin-bottom: 70px;
  }
  .join-us__title {
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
  }
  .join-us .social-links__icons--fill {
    fill: var(--background);
  }
  .join-us .social-links__link--color {
    fill: var(--background);
    background-color: rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 1200px) {
  .join-us {
    justify-content: flex-start;
    margin-left: 70px;
  }
  .join-us__title {
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
  }
  .join-us .social-links__icons--fill {
    fill: var(--background);
  }
  .join-us .social-links__link--color {
    fill: var(--background);
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.modal {
  position: absolute;
  max-width: 450px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  background-color: var(--background);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
.is-hidden .modal {
  transform: translate(-50%);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
  padding: 0 30px;
}

.modal-form {
  margin-top: 12px;
}
.modal-form__label {
  display: block;
  position: relative;
  color: var(--text);
  font-size: 12px;
  line-height: 1.66;
}
.modal-form__input {
  display: flex;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: transparent;
  padding-left: 42px;
}
.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 14px;
  top: 30px;
}
.modal-form__policy-text {
  display: block;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: var(--text);
  font-size: 12px;
  line-height: 1.1716;
}
.modal-form__policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 2px solid var(--text-title);
  border-radius: 3px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  cursor: pointer;
}
.modal-form__comments {
  display: block;
  font: inherit;
  height: 120px;
  width: 100%;
  font-size: 12px;
  line-height: 1.66;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}
.modal-form__submit-button {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--hover);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--background);
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}
.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input:focus-within, .modal-form__textarea:focus-within {
  border-color: var(--hover);
  transition-property: border-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__label:focus-within {
  color: var(--hover);
}
.modal-form__label:focus-within > svg {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  fill: var(--hover);
}
.modal-form__policy:checked + .modal-form__policy-text::before {
  background-color: var(--hover);
  border: 3px solid var(--hover);
  background-image: url(../images/accept.svg);
  background-position: center;
  outline: none;
}
.modal-form__text-decoration {
  color: var(--hover);
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.714;
  padding-left: 3px;
  padding-right: 3px;
}
.modal-form__input:focus, .modal-form__textarea:focus {
  outline: none;
}
.modal-form__input-textarea::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.container-modal {
  padding: 40px 40px;
  margin: auto;
}

@media (min-width: 480px) {
  .modal {
    min-width: 450px;
  }
}
@media (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
  .modal-form__input {
    max-width: 448px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .newsletter {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .newsletter__save-button {
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--hover);
    color: var(--background);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border-radius: 4px;
    margin-top: 20px;
    border: none;
    padding-left: 42px;
    cursor: pointer;
  }
  .newsletter__save-button-icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    margin-right: 13px;
  }
  .newsletter-form__input {
    display: flex;
    padding-left: 16px;
    margin-top: 20px;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 50px;
    width: 100%;
    background-color: transparent;
    color: var(--background);
    transition: none;
  }
  .newsletter-form__input:focus, .newsletter-form__input:active {
    outline: none;
  }
  .newsletter-form__label {
    width: 358px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    color: var(--background);
    align-items: start;
    text-align: left;
    justify-content: start;
  }
}
@media (min-width: 768px) {
  .newsletter {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .newsletter__save-button {
    display: flex;
    margin-left: 125px;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: var(--hover);
    color: var(--background);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border-radius: 4px;
    margin-top: 43px;
    border: none;
    text-align: left;
    padding-left: 42px;
    cursor: pointer;
  }
  .newsletter__save-button-icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    margin-right: 13px;
  }
  .newsletter-form__input {
    display: flex;
    padding-left: 16px;
    margin-top: 20px;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 50px;
    width: 450px;
    background-color: transparent;
    color: var(--background);
  }
  .newsletter-form__input:focus, .newsletter-form__input:active {
    outline: none;
  }
  .newsletter-form__label {
    width: 358px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    color: var(--background);
  }
}
@media (min-width: 1200px) {
  .newsletter {
    margin-left: 77px;
  }
  .newsletter__save-button {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--hover);
    color: var(--background);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border-radius: 4px;
    margin-top: 36px;
    margin-left: 12px;
    border: none;
    text-align: left;
    padding-left: 42px;
    cursor: pointer;
  }
  .newsletter__save-button-icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    margin-right: 13px;
  }
  .newsletter-form {
    display: flex;
  }
  .newsletter-form__input {
    display: flex;
    padding-left: 16px;
    margin-top: 20px;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 50px;
    width: 358px;
    background-color: transparent;
    color: var(--background);
  }
  .newsletter-form__input:focus, .newsletter-form__input:active {
    outline: none;
  }
  .newsletter-form__label {
    width: 358px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    color: var(--background);
    justify-content: start;
    text-align: left;
    align-items: start;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .portfolio-buttons__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
    padding-bottom: 25px;
  }
  .portfolio-buttons__item:not(:last-child) {
    margin-right: 8px;
  }
  .portfolio-buttons__item-button {
    display: flex;
    width: 135px;
    margin-bottom: 15px;
    background: var(--overlay-background);
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-title);
    background: var(--overlay-background);
    border-radius: 4px;
    font-family: inherit;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, box-shadow;
  }
  .portfolio-buttons__item-button:hover {
    background-color: var(--hover);
    color: var(--background);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.12), 0px 1px rgba(0, 0, 0, 0.08), 0px 3px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .portfolio-buttons__list {
    display: flex;
    margin-top: 60px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .portfolio-buttons__item:not(:last-child) {
    margin-right: 8px;
  }
  .portfolio-buttons__item-button {
    display: flex;
    width: 135px;
    margin-bottom: 15px;
    background: var(--overlay-background);
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-title);
    background: var(--overlay-background);
    border-radius: 4px;
    font-family: inherit;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, box-shadow;
  }
  .portfolio-buttons__item-button:hover {
    background-color: var(--hover);
    color: var(--background);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.12), 0px 1px rgba(0, 0, 0, 0.08), 0px 3px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1200px) {
  .portfolio-buttons__list {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .portfolio-buttons__item:not(:last-child) {
    margin-right: 8px;
  }
  .portfolio-buttons__item-button {
    display: flex;
    background: var(--overlay-background);
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-title);
    background: var(--overlay-background);
    border-radius: 4px;
    font-family: inherit;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, box-shadow;
  }
  .portfolio-buttons__item-button:hover {
    background-color: var(--hover);
    color: var(--background);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.12), 0px 1px rgba(0, 0, 0, 0.08), 0px 3px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pictures-portfolio__list {
    display: block;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
  .pictures-portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .pictures-portfolio__item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--grey-dark);
  }
  .pictures-portfolio__img {
    object-fit: cover;
  }
  .pictures-portfolio__figure {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
  }
  .pictures-portfolio__figure:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  .pictures-portfolio__figure:hover .pictures-portfolio__figure-overlay, .pictures-portfolio__figure:focus .pictures-portfolio__figure-overlay {
    transform: translateY(0);
    box-shadow: 0px, 1px, 1px rgba(0, 0, 0, 0.12), 0px, 4px, 4px rgba(0, 0, 0, 0.06), 1px, 4px, 4px rgba(0, 0, 0, 0.16);
  }
  .pictures-portfolio__figure-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--background);
    padding-top: 49px;
    padding-left: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
  }
  .pictures-portfolio__figure-description {
    font-size: 18px;
    line-height: 1.555;
  }
  .pictures-portfolio__figcaption {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    height: 110px;
  }
  .pictures-portfolio__figcaption-title {
    padding-left: 24px;
    padding-top: 20px;
  }
  .pictures-portfolio__figcaption-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--text);
    margin-top: 4px;
    margin-left: 24px;
  }
}
@media (min-width: 768px) {
  .pictures-portfolio__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
  .pictures-portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .pictures-portfolio__item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--grey-dark);
  }
  .pictures-portfolio__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .pictures-portfolio__img {
    object-fit: cover;
  }
  .pictures-portfolio__figure {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
  }
  .pictures-portfolio__figure:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  .pictures-portfolio__figure:hover .pictures-portfolio__figure-overlay, .pictures-portfolio__figure:focus .pictures-portfolio__figure-overlay {
    transform: translateY(0);
    box-shadow: 0px, 1px, 1px rgba(0, 0, 0, 0.12), 0px, 4px, 4px rgba(0, 0, 0, 0.06), 1px, 4px, 4px rgba(0, 0, 0, 0.16);
  }
  .pictures-portfolio__figure-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--background);
    padding-top: 49px;
    padding-left: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
  }
  .pictures-portfolio__figure-description {
    font-size: 18px;
    line-height: 1.555;
  }
  .pictures-portfolio__figcaption {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    height: 110px;
  }
  .pictures-portfolio__figcaption-title {
    padding-left: 24px;
    padding-top: 20px;
  }
  .pictures-portfolio__img {
    object-fit: cover;
  }
  .pictures-portfolio__figcaption-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--text);
    margin-top: 4px;
    margin-left: 24px;
  }
}
@media (min-width: 1200px) {
  .pictures-portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 82px;
  }
  .pictures-portfolio__item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--grey-dark);
  }
  .pictures-portfolio__item:nth-child(1n+2) {
    margin-right: 30px;
  }
  .pictures-portfolio__item:nth-child(3n+3) {
    margin-right: 0;
  }
  .pictures-portfolio__item:nth-last-child(5), .pictures-portfolio__item:nth-last-child(8) {
    margin-bottom: 30px;
  }
  .pictures-portfolio__img {
    object-fit: cover;
  }
  .pictures-portfolio__figure {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
  }
  .pictures-portfolio__figure:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  .pictures-portfolio__figure:hover .pictures-portfolio__figure-overlay, .pictures-portfolio__figure:focus .pictures-portfolio__figure-overlay {
    transform: translateY(0);
    box-shadow: 0px, 1px, 1px rgba(0, 0, 0, 0.12), 0px, 4px, 4px rgba(0, 0, 0, 0.06), 1px, 4px, 4px rgba(0, 0, 0, 0.16);
  }
  .pictures-portfolio__figure-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--background);
    padding-top: 49px;
    padding-left: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
  }
  .pictures-portfolio__figure-description {
    font-size: 18px;
    line-height: 1.555;
  }
  .pictures-portfolio__figcaption {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    height: 110px;
  }
  .pictures-portfolio__figcaption-title {
    padding-left: 24px;
    padding-top: 20px;
  }
  .pictures-portfolio__figcaption-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--text);
    margin-top: 4px;
    margin-left: 24px;
  }
}
.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, opacity;
  right: 0;
}

.menu-list {
  display: none;
}
.menu-list__item:not(:last-child) {
  margin-right: 46px;
}

.menu-link__item {
  position: relative;
  height: 18px;
  font-weight: 500;
  font-size: 14px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
}
.menu-link__item:active::after, .menu-link__item:hover::after {
  content: " ";
  display: block;
  border-top: 4px solid var(--hover);
  border-radius: 2px;
  top: 28px;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 16px;
}
.menu-link__item:hover, .menu-link__item:hover {
  color: var(--hover);
}

@media (min-width: 768px) {
  .menu-list {
    display: flex;
  }
}
@media (min-width: 768px) {
  .menu-list__item:not(:last-child) {
    margin-right: 60px;
  }
}
@media (min-width: 1200px) {
  .menu-list {
    display: flex;
  }
  .menu-list__item:not(:last-child) {
    margin-right: 46px;
  }
  .menu-link__item {
    position: relative;
    height: 18px;
    font-weight: 500;
    font-size: 14px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
  }
  .menu-link__item:active::after, .menu-link__item:hover::after {
    content: " ";
    display: block;
    border-top: 4px solid var(--hover);
    border-radius: 2px;
    top: 28px;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 16px;
  }
  .menu-link__item:hover, .menu-link__item:hover {
    color: var(--hover);
  }
}
@media (min-width: 320px) {
  .contacts-list {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-left: 101px;
  }
  .contacts-list__item:hover {
    color: var(--hover);
  }
  .contacts-list__item:hover svg {
    fill: var(--hover);
  }
  .contacts-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    color: var(--text);
  }
  .contacts-list__link-telephone {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    display: block;
    fill: var(--text);
    max-width: 16px;
    height: auto;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
  }
  .contacts-list__link-poczta {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    display: block;
    fill: var(--text);
    max-width: 16px;
    height: auto;
    margin-right: 10px;
  }
  .contacts-list__link {
    height: 18px;
    font-weight: 500;
    font-size: 14px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
  }
  .contacts-list__link:hover, .contacts-list__link:hover {
    color: var(--hover);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .contacts-list {
    display: block;
    margin: 0 auto;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contacts-list__item:hover {
    color: var(--hover);
  }
  .contacts-list__item:hover svg {
    fill: var(--hover);
  }
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    color: var(--text);
  }
  .contacts-list__link-telephone {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    display: block;
    fill: var(--text);
    max-width: 16px;
    height: auto;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
  }
  .contacts-list__link-poczta {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    display: block;
    fill: var(--text);
    max-width: 16px;
    height: auto;
    margin-right: 10px;
  }
  .contacts-list__link {
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
  }
  .contacts-list__link:hover, .contacts-list__link:hover {
    color: var(--hover);
  }
}
@media (min-width: 1200px) {
  .contacts-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
  }
  .contacts-list__item:hover {
    color: var(--hover);
  }
  .contacts-list__item:hover svg {
    fill: var(--hover);
  }
  .contacts-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    color: var(--text);
  }
  .contacts-list__link-telephone {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    display: block;
    fill: var(--text);
    max-width: 16px;
    max-height: 16px;
    margin-left: 30px;
    margin-right: 10px;
  }
  .contacts-list__link-poczta {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
    display: block;
    fill: var(--text);
    max-width: 16px;
    height: auto;
    margin-right: 10px;
  }
  .contacts-list__link {
    height: 18px;
    font-weight: 500;
    font-size: 14px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: all;
  }
  .contacts-list__link:hover, .contacts-list__link:hover {
    color: var(--hover);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1717;
    color: var(--text-title);
  }
}
@media (min-width: 768px) {
  .section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--text-title);
  }
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  gap: 10px;
}
.social-links__link {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.social-links__link:hover {
  background-color: var(--hover);
}
.social-links__link:hover svg {
  fill: var(--background);
}
.social-links__icons {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  fill: #AFB1B8;
  margin: 12px;
  width: 20px;
  height: 20px;
}

.header-mobile-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-mobile-menu__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.header-mobile-menu__ico {
  transition: fill 250ms, background-color 250ms;
  margin-top: 7px;
  margin-left: 7px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-mobile-menu__ico:hover, .header-mobile-menu__ico:focus {
  fill: #2196F3;
}

@media screen and (min-width: 480px) {
  .header-mobile-menu {
    position: absolute;
  }
}
@media screen and (min-width: 768px) {
  .header-mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-mobile-menu {
    display: none;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  padding: 48px 40px;
  width: 100%;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 21px;
  right: 21px;
  font-size: 36px;
  color: #212121;
  background-color: transparent;
  border: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  color: #2196F3;
}

.mobile-menu__navigation-item {
  font-size: 30px;
  line-height: 40px;
}

.mobile-menu__navigation-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__navigation-link {
  text-decoration: none;
  color: #212121;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__navigation-link:hover, .mobile-menu__navigation-link:focus {
  color: #2196F3;
}

.mobile-menu__contact-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  margin-top: 302px;
}

.mobile-menu__contact-item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-menu__contact-link {
  text-decoration: none;
}

.mobile-menu__contact-link--phone {
  color: #2196F3;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 2%;
}

.mobile-menu__contact-link--mail {
  color: #757575;
  font-size: 20px;
  line-height: 28px;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__contact-link--mail:hover, .mobile-menu__contact-link--mail:focus {
  color: #2196F3;
}

.mobile-menu__socjal-list {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  margin-bottom: 48px;
}

.mobile-menu__socjal-link--line {
  display: flex;
  align-items: center;
}

.mobile-menu__socjal-link--line::before {
  content: "";
  display: flex;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu__socjal-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */