@media (min-width: 320px) and (max-width: 767px) {
.lorem-ipsum-text {
    display: flex;
    align-items: center;
    position: relative;
    padding-top:0px; 

        &__list{
        display: flex;
        flex-direction: column;
        margin-top: 210px;
        margin-bottom: 60px;
    }

        &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top:0px; 
    }

     &__item:not(:last-child) {
     margin-bottom: 180px;
     }
    
        &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: var(--text-title);
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    
        &__contents {
        display: flex;
        font-weight: 400;
        font-size: 14px;
        max-width: 450px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--text);
    }
}

.lorem-ipsum-picture {
    position: absolute;


        &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 166px;
    }
    
        &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 120px;
        background-color: var(--overlay-background);
    }

    &__item:not(:last-child) {
        margin-bottom: 136px;
    }
    
        &__link {
        cursor: default;
    }
    
        &__images{
        width: 65.32px;
        height: 70px;
    }
}
}

@media (min-width: 768px) and (max-width: 1200px)  {
    .lorem-ipsum-text {
        display: flex;
        align-items: center;
        position: relative;
        padding-top:0px; 
    
            &__list{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 30px;
            padding-top: 210px;
            margin-bottom: 45px;
        }
    
            &__item {
            flex-direction: column;
            padding-top:0px; 
        }
    
         &__item:nth-child(-n + 2)  {
         margin-bottom: 150px;
         }
        
            &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            color: var(--text-title);
            margin-bottom: 10px;
        }
        
            &__contents {
            display: flex;
            font-weight: 400;
            font-size: 14px;
            max-width: 354px;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: var(--text);
        }
    }

     .lorem-ipsum-picture {
        display: flex;
        position: absolute;

         &__list {
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-between;
         gap: 30px;
         margin-top: 60px;
         margin-bottom: 16px;
     }
    
         &__item {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 354px;
         height: 120px;
         background-color: var(--overlay-background);
         margin-bottom: 131px;
     }
    
         &__link {
         cursor: default;
     }
    
         &__images{
         width: 65.32px;
         height: 70px;
     }
 }
}

@media (min-width: 1200px) {
.lorem-ipsum-text {
    display: flex;
    align-items: center;

        &__list{
        display: flex;
    }
    
        &__item {
        margin-right: 30px;
    }
    
        &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: var(--text-title);
        margin-bottom: 10px;
    }
    
        &__contents {
        display: flex;
        font-weight: 400;
        font-size: 14px;
        
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--text);
        width: 270px;
        height: 75px;
    }
}

.lorem-ipsum-picture {
        &__list {
        display: flex;
        justify-content: space-between;
    }
    
        &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 120px;
        background-color: var(--overlay-background);
        margin-top: 94px;
        margin-bottom: 30px;
    }
    
        &__link {
        cursor: default;
    }
    
        &__images{
        width: 65.32px;
        height: 70px;
    }
}
}

@mixin advantages-tittle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@mixin advantages-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
.advantages .container {
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages {
  &__list {
    display: flex;
    flex-direction: column;
    }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
      }
    }

  &__tittle {
    @include advantages-tittle;
    text-align: center;
    max-width: 450px;
    }

  &__text {
    @include advantages-text;
    max-width: 450px;
    padding-left: 15px;
  }

  &__img {
    display: flex;
    max-width: 450px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--overlay-background);
    margin-bottom: 30px;
    }

  &__icon {
    width: 70px;
    height: 70px;
    }
  }

// -----------------------768--------------------------
@media screen and (min-width: 768px) {
.advantages .container {
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 45px;
    padding-left: 15px;
  }

.advantages {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    }

  &__item {
    margin-left: 30px;
    margin-top: 30px;

    &:not(:last-child) {
      margin-bottom: 0px;
      }
    }

  &__tittle {
    @include advantages-tittle;
    text-align: left;
    max-width: 354px;
    }

  &__text {
    @include advantages-text;
    max-width: 354px;
    padding-left: 0px;
    }

  &__img {
    display: flex;
    max-width: 354px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #F5F4FA;
    margin-bottom: 30px;
    }
  }
}

// -----------------------1200--------------------------
@media screen and (min-width: 1200px) {
  .advantages .container {
    padding-top: 94px;
    padding-bottom: 0;
  }

  .advantages__list {
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }

  .advantages__item {
    margin-left: 0;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  .advantages__tittle {
    @include advantages-tittle;
    text-align: left;
    max-width: 270px;
  }

  .advantages__text {
    @include advantages-text;
    max-width: 270px;
  }

  .advantages__img {
    display: flex;
    max-width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  }
}