@media (min-width: 320px) and (max-width: 767px) {
.contacts-list {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-left: 101px;

        &__item {
        &:hover {
            color:var(--hover);
        }
        
        &:hover svg {
            fill: var(--hover);
        }
    }
    
        &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color, fill;
        color: var(--text);
    }
    
        &__link-telephone {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color, fill;
        display: block;
        fill: var(--text);
        max-width: 16px;
        height: auto;
        margin-right: 10px;
        display: flex;
        justify-content: flex-start;
    }
    
        &__link-poczta {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color, fill;
        display: block;
        fill: var(--text);
        max-width: 16px;
        height: auto;
        margin-right: 10px;
    }
    
        &__link {
        height: 18px;
        font-weight: 500;
        font-size: 14px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: all;

    
            &:hover,
            &:hover {
            color: var(--hover);
            }
    }
}


}
@media (min-width: 768px) {
    .contacts-list {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        margin-left: 101px;
        align-items: flex-start;
        align-items: start;
    
            &__item {
            &:hover {
                color:var(--hover);
            }
            
            &:hover svg {
                fill: var(--hover);
            }
        }

        &__item:not(:last-child) {
            margin-bottom: 10px;
        }
        
            &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
            color: var(--text);
        }
        
            &__link-telephone {
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
            display: block;
            fill: var(--text);
            max-width: 16px;
            height: auto;
            margin-right: 10px;
            display: flex;
            justify-content: flex-start;
        }
        
            &__link-poczta {
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
            display: block;
            fill: var(--text);
            max-width: 16px;
            height: auto;
            margin-right: 10px;
        }
        
            &__link {
            height: 18px;
            font-weight: 500;
            font-size: 12px;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: all;
    
        
                &:hover,
                &:hover {
                color: var(--hover);
                }
        }
    }
}



// .contacts-list {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-left: auto;

//         &__item {
//         &:hover {
//             color:var(--hover);
//         }
        
//         &:hover svg {
//             fill: var(--hover);
//         }
//     }
    
//         &__link {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: color, fill;
//         color: var(--text);
//     }
    
//         &__link-telephone {
//         transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: color, fill;
//         display: block;
//         fill: var(--text);
//         max-width: 16px;
//         max-height: 16px;
//         margin-left: 30px;
//         margin-right: 10px;
//     }
    
//         &__link-poczta {
//         transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: color, fill;
//         display: block;
//         fill: var(--text);
//         max-width: 16px;
//         height: auto;
//         margin-right: 10px;
//     }
    
//         &__link {
//         height: 18px;
//         font-weight: 500;
//         font-size: 14px;
//         transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: all;
    
//             &:hover,
//             &:hover {
//             color: var(--hover);
//             }
//     }
// }

