

@media (min-width: 320px) {

.customers-subsection {
        &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }
    
        &__item {
        display: flex;
        text-align: center;
        justify-content: center;
        height: 92px;
        width: 210px;
        border: 1px solid #AFB1B8; border-radius:4px;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border;
        
            &:hover {
            background-color: var(--background);
            border: 1px solid var(--hover);
            }
    
            &:hover svg{
             fill: var(--hover);
            }
    }
    
        &__link {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 16px 32px;
        display: flex;
        fill: #AFB1B8;
    }
    
        &__icons {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
    } 
}
}



// .customers-subsection {
//     margin-top: 94px;

//         &__list {
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: 94px;
//     }
    
//         &__item {
//         display: flex;
//         text-align: center;
//         justify-content: center;
//         height: 92px;
//         width: 170px;
//         border: 1px solid #AFB1B8; border-radius:4px;
//         cursor: pointer;
//         transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: border;
        
//             &:hover {
//             background-color: var(--background);
//             border: 1px solid var(--hover);
//             }
    
//             &:hover svg{
//              fill: var(--hover);
//             }
//     }
    
//         &__link {
//         display: flex;
//         text-align: center;
//         justify-content: center;
//         margin: 16px 32px;
//         max-height: 52px;
//         max-width: 94px;
//         display: flex;
//         fill: #AFB1B8;
//     }
    
//         &__icons {
//         transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: fill;
//     } 
    
// }

