
@media (min-width: 320px) and (max-width: 767px) {
.join-us {
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-top: 60px;
    
             &__title {
             align-items: center;
             margin-bottom: 20px;
             font-weight: 700; 
             font-size: 14px; 
             line-height: 16.41px;
        } 
    
    .social-links__icons--fill {
         fill: var(--background);
        }
    
    .social-links__link--color {
        fill: var(--background);
        background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

@media (min-width: 768px) {
.join-us {
        justify-content: flex-start;
        margin-left: 144px;
        margin-bottom: 70px;
        
                 &__title {
                 align-items: center;
                 margin-bottom: 20px;
                 font-weight: 700; 
                 font-size: 14px; 
                 line-height: 16.41px;
            } 
        
        .social-links__icons--fill {
             fill: var(--background);
            }
        
        .social-links__link--color {
            fill: var(--background);
            background-color: rgba(255, 255, 255, 0.1);
            }
        }
    } 

    @media (min-width: 1200px) {
    .join-us {
    justify-content: flex-start;
        margin-left: 70px;

         &__title {
         align-items: center;
         margin-bottom: 20px;
         font-weight: 700; 
         font-size: 14px; 
         line-height: 16.41px;

    } 

    .social-links__icons--fill {
     fill: var(--background);
    }

    .social-links__link--color {
    fill: var(--background);
    background-color: rgba(255, 255, 255, 0.1);
    }
}
}