.page-footer-item__webstudio-down {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1742;
    color: var(--background);
    cursor: pointer;
} 

.page-header__webstudio-up {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    cursor: pointer;
}


@media (min-width: 768px) {
    .page-header__webstudio-up {
        margin-right: 83px;
        font-size: 24px;
    }
}

// .page-footer-item__webstudio-down {
//     font-family: 'Raleway';
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     color: var(--background);
//     cursor: pointer;
// } 

// .page-header__webstudio-up {
//     font-family: 'Raleway';
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     margin-right: 93px;
//     cursor: pointer;
// }