
    .page-footer-item__webstudio-down {
        font-family: 'Raleway';
        font-weight: 700;
        line-height: 1.1742;
        color: var(--background);
        cursor: pointer;
        font-size: 24px;
    } 
    
    .page-header__webstudio-up {
        font-family: 'Raleway';
        font-weight: 700;
        line-height: 1.19;
        margin-right: 93px;
        cursor: pointer;
        font-size: 24px;
    }

    
@media screen and (min-width: 1200px)  {
    .page-header__webstudio-up {
        font-size: 26px;
    }

    .page-footer-item__webstudio-down {
        font-size: 26px;
    }

}

