.page-footer-item__webstudio-down {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--background);
    cursor: pointer;
} 

.page-header__webstudio-up {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    cursor: pointer;
}