.main-title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--footer-color);
    background-image:
         linear-gradient(rgba(47, 48, 58, 0.4),
                         rgba(47, 48, 58, 0.4)),
                          url("../images/main-picture-mobile.jpg");
    background-repeat: no-repeat;
    width: auto;
    height: 400px;
    margin: 0 auto;
    background-size: cover;

            &__page {
         font-weight: 900;
         font-size: 26px;
         line-height: 42px;
         text-align: center;
         color: var(--background);
     }

            &__button {
         display: block;
         width: 200px;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         border-radius: 4px;
         padding: 10px 41px 10px 42px;
         margin: 30px auto 0;
         font-weight: 700;
         font-size: 16px;
         line-height: 1.9;
         display: flex;
         color: var(--background);
         background: var(--hover);
         border: none;
         cursor: pointer;
         font-family: inherit;
     }
 }


// .main-title {
//     display: flex;
//     text-align: center;
//     align-items: center;
//     background-color: var(--footer-color);
//     background-image:
//         linear-gradient(rgba(47, 48, 58, 0.4),
//                         rgba(47, 48, 58, 0.4)),
//                          url("../images/background.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 600px;
//     max-width: 1600px;
//     width: 100%;
//     margin: 0 auto;

//         &__page {
//         font-weight: 900;
//         font-size: 44px;
//         line-height: 1.36;
//         text-align: center;
//         color: var(--background);
//         width: 626px;
//     }
    
//         &__button {
//         display: block;
//         width: 200px;
//         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//         border-radius: 4px;
//         padding: 10px 41px 10px 42px;
//         margin: 30px auto 0;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 1.9;
//         display: flex;
//         color: var(--background);
//         background: var(--hover);
//         border: none;
//         cursor: pointer;
//         font-family: inherit;
//     }
// }


