.header-mobile-menu {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header-mobile-menu__button {
            width: 40px;
            height: 40px;
            border: none;
            background-color: transparent;
  }
  .header-mobile-menu__ico {
    transition: fill 250ms, background-color 250ms;
    margin-top: 7px;
    margin-left: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header-mobile-menu__ico:hover, .header-mobile-menu__ico:focus {
    fill: #2196F3;
  }
  
  @media screen and (min-width: 480px) {
    .header-mobile-menu {
      position: absolute;
    }
  }
  @media screen and (min-width: 768px) {
    .header-mobile-menu {
      display: none;
    }
  }
  @media screen and (min-width: 1200px) {
    .header-mobile-menu {
      display: none;
    }
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    padding: 48px 40px;
    width: 480px;
  }
  
  .mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 21px;
    font-size: 36px;
    color: #212121;
    background-color: transparent;
    border: none;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    color: #2196F3;
  }
  
  .mobile-menu__navigation-item {
    font-size: 30px;
    line-height: 40px;
  }
  .mobile-menu__navigation-item:not(:last-child) {
    margin-bottom: 32px;
  }
  
  .mobile-menu__navigation-link {
    text-decoration: none;
    color: #212121;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__navigation-link:hover, .mobile-menu__navigation-link:focus {
    color: #2196F3;
  }
  
  .mobile-menu__contact-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
    margin-top: 302px;
  }
  
  .mobile-menu__contact-item:not(:last-child) {
    padding-bottom: 32px;
  }
  
  .mobile-menu__contact-link {
    text-decoration: none;
  }
  
  .mobile-menu__contact-link--phone {
    color: #2196F3;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2%;
  }
  
  .mobile-menu__contact-link--mail {
    color: #757575;
    font-size: 20px;
    line-height: 28px;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__contact-link--mail:hover, .mobile-menu__contact-link--mail:focus {
    color: #2196F3;
  }
  
  .mobile-menu__socjal-list {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    margin-bottom: 48px;
  }
  
  .mobile-menu__socjal-link--line {
    display: flex;
    align-items: center;
  }
  .mobile-menu__socjal-link--line::before {
    content: "";
    display: flex;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
  
  .mobile-menu__socjal-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #2196F3;
  }
  