@media (min-width: 320px) and (max-width: 767px) {
.newsletter {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
            
    &__save-button {
    align-items: center;
    width: 200px;
    height: 50px;
    background-color:var(--hover);
    color: var(--background);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border-radius: 4px;
    margin-top: 20px;
    border: none;
    padding-left: 42px;
    cursor: pointer;
}

    &__save-button-icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    margin-right: 13px;
}
}

.newsletter-form {

        &__input {
        display: flex;
        padding-left: 16px;
        margin-top: 20px;
        border-color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        height: 50px;
        width: 450px;  
        background-color: transparent;
        color: var(--background);
    
            &:focus,
            &:active {
            outline: none;
            }  
    } 
    
        &__label {
        width: 358px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        color: var(--background);
    }
}
}


@media (min-width: 768px) {

    .newsletter {
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
                
        &__save-button {
        align-items: center;
        width: 200px;
        height: 50px;
        background-color:var(--hover);
        color: var(--background);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        border-radius: 4px;
        margin-top: 20px;
        border: none;
        padding-left: 42px;
        cursor: pointer;
    }
    
        &__save-button-icon {
        width: 24px;
        height: 24px;
        margin-left: 24px;
        margin-right: 13px;
    }
    }
    
    .newsletter-form {
    
            &__input {
            display: flex;
            padding-left: 16px;
            margin-top: 20px;
            border-color: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            height: 50px;
            width: 450px;  
            background-color: transparent;
            color: var(--background);
        
                &:focus,
                &:active {
                outline: none;
                }  
        } 
        
            &__label {
            width: 358px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.143;
            color: var(--background);
        }
    }
    }

// .newsletter {
//     margin-left: 77px;
//     margin-top: 12px;

            
//     &__save-button {
//     display: flex;
//     align-items: center;
//     width: 200px;
//     height: 50px;
//     background-color:var(--hover);
//     color: var(--background);
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.875;
//     border-radius: 4px;
//     margin-top: 36px;
//     margin-left: 12px;
//     border: none;
//     text-align: left;
//     padding-left: 42px;
//     cursor: pointer;
// }

//     &__save-button-icon {
//     width: 24px;
//     height: 24px;
//     margin-left: 24px;
//     margin-right: 13px;
// }
// }

// .newsletter-form {
//     display: flex;

//         &__input {
//         display: flex;
//         padding-left: 16px;
//         margin-top: 20px;
//         border-color: rgba(255, 255, 255, 0.3);
//         border-radius: 4px;
//         height: 50px;
//         width: 358px;  
//         background-color: transparent;
//         color: var(--background);
    
//             &:focus,
//             &:active {
//             outline: none;
//             }  
//     } 
    
//         &__label {
//         width: 358px;
//         font-weight: 700;
//         font-size: 14px;
//         line-height: 1.143;
//         color: var(--background);
//     }
// }

