@media (min-width: 320px) and (max-width: 767px) {
.center {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer{
    align-items: center;
    justify-content: center;
    background-color: var(--footer-color);
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--background);
    font-family: inherit;
    padding: 60px 0;
    margin-bottom: 0;
}

.page-footer {
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-footer-item{
    justify-content: flex-start;
}
}

@media (min-width: 768px) and (max-width: 1200px) {
    .footer{
        align-items: center;
        justify-content: center;
        background-color: var(--footer-color);
        min-width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: var(--background);
        font-family: inherit;
        padding: 60px 0;
        margin-bottom: 0;
    }
    
    .page-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .page-footer-item{
        justify-content: flex-start;
        margin-bottom: 60px;
    }
    }


    @media (min-width: 1200px) {
    .footer { 
        display: block;
        background-color: var(--footer-color);
        min-width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: var(--background);
        font-family: inherit;
        padding: 60px 0;
    }

    .page-footer {
        display: flex;
        justify-content: space-between;
    }

    .page-footer-item{
        justify-content: flex-start;
    }
}