@media (min-width: 320px) and (max-width: 767px) {

.pictures-portfolio {

    &__list {
    display: block;
    flex-wrap: wrap;
    padding-bottom: 60px;
} 

    &__item:not(:last-child) {
    margin-bottom: 30px;
    }

    &__item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--grey-dark);
}

    &__img {
    object-fit: cover;
   }

    &__figure {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;

        &:hover {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    0px 1px 1px rgba(0, 0, 0, 0.12);
        }

        &:hover .pictures-portfolio__figure-overlay,
        &:focus .pictures-portfolio__figure-overlay {
        transform: translateY(0);
        box-shadow: 
        0px, 1px, 1px rgba(0, 0, 0, 0.12), 
        0px, 4px, 4px rgba(0, 0, 0, 0.06),
        1px, 4px, 4px rgba(0, 0, 0, 0.16);
        }
}

    &__figure-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 100%;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--background); 
    padding-top: 49px; 
    padding-left: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
}

    &__figure-description {
    font-size: 18px;
    line-height: 1.555;;
}

    &__figcaption {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    height: 110px;
}

    &__figcaption-title {
    padding-left: 24px;
    padding-top: 20px;
}

    &__figcaption-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--text);
    margin-top: 4px;
    margin-left: 24px;
}
}
}

@media (min-width: 768px) {

    .pictures-portfolio {
    
        &__list {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 60px;
    } 
    
        &__item:not(:last-child) {
        margin-bottom: 30px;
        }
    
        &__item {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        color: var(--grey-dark);

        &:nth-child(2n+1) {
            margin-right: 30px;
            }
    }
    
        &__img {
        object-fit: cover;
       }
    
        &__figure {
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        width: 100%;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: box-shadow;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: box-shadow;
    
            &:hover {
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
                        0px 4px 4px rgba(0, 0, 0, 0.06),
                        0px 1px 1px rgba(0, 0, 0, 0.12);
            }
    
            &:hover .pictures-portfolio__figure-overlay,
            &:focus .pictures-portfolio__figure-overlay {
            transform: translateY(0);
            box-shadow: 
            0px, 1px, 1px rgba(0, 0, 0, 0.12), 
            0px, 4px, 4px rgba(0, 0, 0, 0.06),
            1px, 4px, 4px rgba(0, 0, 0, 0.16);
            }
    }
    
        &__figure-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 354x;
        height: 100%;
        transform: translateY(100%);
        background-color: rgba(33, 150, 243, 0.9);
        color: var(--background); 
        padding-top: 49px; 
        padding-left: 24px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: transform;
    }
    
        &__figure-description {
        font-size: 18px;
        line-height: 1.555;;
    }
    
        &__figcaption {
        position: relative;
        bottom: 0;
        left: 0;
        background-color: var(--background);
        border-right: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        width: 100%;
        height: 110px;
    }
    
        &__figcaption-title {
        padding-left: 24px;
        padding-top: 20px;
    }

    &__img {
        object-fit: cover;
    }
    
        &__figcaption-type {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        color: var(--text);
        margin-top: 4px;
        margin-left: 24px;
    }
    }
    }

    @media (min-width: 1200px) {
    .pictures-portfolio {

        &__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 82px;
    } 
    
        &__item {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        color: var(--grey-dark);
        
            &:nth-child(1n+2) {
            margin-right: 30px;
            }

            &:nth-child(3n+3) {
                margin-right: 0;
                }
    
    
            &:nth-last-child(5),
            &:nth-last-child(8) {
            margin-bottom: 30px;
            }
    }

        &__img {
            object-fit: cover;
        }
    
        &__figure {
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        width: 100%;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: box-shadow;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: box-shadow;
    
            &:hover {
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
                        0px 4px 4px rgba(0, 0, 0, 0.06),
                        0px 1px 1px rgba(0, 0, 0, 0.12);
            }
    
            &:hover .pictures-portfolio__figure-overlay,
            &:focus .pictures-portfolio__figure-overlay {
            transform: translateY(0);
            box-shadow: 
            0px, 1px, 1px rgba(0, 0, 0, 0.12), 
            0px, 4px, 4px rgba(0, 0, 0, 0.06),
            1px, 4px, 4px rgba(0, 0, 0, 0.16);
            }
    }
    
        &__figure-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 370px;
        height: 100%;
        transform: translateY(100%);
        background-color: rgba(33, 150, 243, 0.9);
        color: var(--background); 
        padding-top: 49px; 
        padding-left: 24px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: transform;
    }
    
        &__figure-description {
        font-size: 18px;
        line-height: 1.555;;
    }
    
        &__figcaption {
        position: relative;
        bottom: 0;
        left: 0;
        background-color: var(--background);
        border-right: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        width: 100%;
        height: 110px;
    }
    
        &__figcaption-title {
        padding-left: 24px;
        padding-top: 20px;
    }
    
        &__figcaption-type {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        color: var(--text);
        margin-top: 4px;
        margin-left: 24px;
    }

}
}


 


