.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--text-title);
}


// .section-title {
//     text-align: center;
//     margin-bottom: 50px;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.17;
//     color: var(--text-title);
// }
