.subsection-offer{

        &__list {
        display: flex;
        text-align: center;
    }
    
        &__item {
        position: relative;
    
            &:not(:last-child) {
            margin-right:30px;
            }
    }
    
        &__layout{
        position: absolute;
        background-color: rgba(47, 48, 58, 0.8);
        width: 100%;
        height: 70px;
        bottom: 0;
        left: 0;
        color: var(--background);
        font-size: 14px;
        line-height: 1.172;
        padding-top: 27px;
    }
}


@media (max-width: 1200px) {
    .section-hidden-offer {
        display: none;
    }
    }

