@media (min-width: 320px) and (max-width: 767px) {
.work-team {
    background: var(--overlay-background);

        &__list {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    
        &__members {
        &:not(:last-of-type) {
        margin-bottom: 30px;
        }
    }
    
        &__images {
        background: var(--background);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        width: 450px;
        height: 622px;
    }
    
        &__description-name {
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        color: var(--text-title);
    }
    
        &__description-occupation {
        color: var(--text);
        font-size: 16px;
        font-weight: 400;
    }

        &__images-members {
        display: flex;
        width: 450px;
        height: 460px;
    }
}
}

@media (min-width: 768px) {
    .work-team {
        background: var(--overlay-background);
    
            &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

            &__images {
            background: var(--background);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            width: 354px;
            height: 536px;
            object-fit: contain;

        }

            &__description {
                margin-bottom: 24px;
            }
        
            &__description-name {
            margin-top: 30px;
            margin-bottom: 10px;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            color: var(--text-title);
        }
        
            &__description-occupation {
            color: var(--text);
            font-size: 16px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
        }
    
            &__images-members {
            display: flex;
            width: 354px;
            height: 374px;
        }
    }
    }

// .work-team {
//     background: var(--overlay-background);

//         &__list {
//         display: flex;
//         text-align: center;
//         align-items: center;
//     }
    
//         &__members {
//         &:not(:last-of-type) {
//         margin-right: 30px;
//         }
//     }
    
//         &__images {
//         background: var(--background);
//         box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//         border-radius: 0px 0px 4px 4px;
//         width: 270px;
//         height: 428px;
//     }
    
//         &__description-name {
//         margin-top: 30px;
//         margin-bottom: 10px;
//         text-align: center;
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 1.19;
//         color: var(--text-title);
//     }
    
//         &__description-occupation {
//         color: var(--text);
//         font-size: 16px;
//         font-weight: 400;
//     }

// }



